@import "tailwindcss";

@theme {
  --color-coffee: #8B5E3C;
  --color-orange: #FFCA94;
  --color-taupe: #B8ADA1;
  --color-sage: #728C7D;
  
  --color-cream-50: #FFFFFF;
  --color-cream-100: #FAF8F5;
  --color-cream-200: #F2ECE1;
  --color-cream-300: #E5DCCB;
  --color-cream-400: #B8AB96;
  --color-cream-700: #6B6152;
  --color-cream-800: #3D362D;
  --color-cream-900: #211D18;
  --color-cream-950: #14120E;
}